@model DataLayer.Employee

<div class="container"
	<h4>Сотрудник</h4>
	<hr />
	<table class="table">
		<tr>
			<th>@Html.DisplayNameFor(model => model.Id)</th>
			<th>@Html.DisplayNameFor(model => model.LastName)</th>
			<th>@Html.DisplayNameFor(model => model.FirstName)</th>
			<th>@Html.DisplayNameFor(model => model.Patronymic)</td>
			<th>@Html.DisplayNameFor(model => model.Age)</th>
		</tr>
		<tr>
			<td>@Html.DisplayFor(model => model.Id)</td>
			<td>@Html.DisplayFor(model => model.LastName)</td>
			<td>@Html.DisplayFor(model => model.FirstName)</td>
			<td>@Html.DisplayFor(model => model.Patronymic)</td>
			<td>@Html.DisplayFor(model => model.Age)</td>
		</tr>
	</table>
</div>

<div class="container"
	<p>
		<h3>QRCode сотрудника</h3>
		<img src="/qr/code?str=@Html.DisplayFor(model => model.Id)|
								@Html.DisplayFor(model => model.LastName)|
								@Html.DisplayFor(model => model.FirstName)|
								@Html.DisplayFor(model => model.Patronymic)|
								@Html.DisplayFor(model => model.Age)" width="250" />
	</p>
</div>

<div class="container"
	<p>
        <a asp-controller="Home" asp-action="Index" class="btn btn-default">На главную</a>
        <a asp-action="Index" class="btn btn-default">К списку</a>
    </p>
</div>

