@model PageBlogViewModel

<div class="blog-post-area">
	<h2 class="title text-center">Latest From our Блог</h2>

	@foreach (var blog in Model.Blogs)
	{
		<div class="blog-post-default">@blog.Name
			<h3></h3>
			<div class="post-meta">
				<ul>
					<li><i class="fa fa-user"></i> @blog.User</li>
					<li><i class="fa fa-clock-o"></i> @blog.Date.ToShortTimeString()</li>
					<li><i class="fa fa-calendar"></i> @blog.Date.ToLongDateString()</li>
				</ul>
				<span>
					@for(int i = 1; i <= blog.Rating; i++)
					{
						<i class="fa fa-star"></i>
					}
					@if(blog.Rating % (int)blog.Rating != 0)
					{
						<i class="fa fa-star-half-o"></i>
					}
				</span>
			</div>
			<a href="">
				<img src="~/images/blog/@blog.ImageUrl" alt="@blog.Name" />
			</a>
			<p>@blog.Text</p>
			<a  class="btn btn-primary" href="">Read More</a>
		</div>
	}

	<div class="pagination-area">
		<ul class="pagination">
			@for(int i = 0; i < Model.CountPage; i++)
				{
					<li><a asp-controller="Blogs" asp-action="Index" asp-route-NumberPage=@i>@(i+1)</a></li>
				}
			@*<li><a asp-controller="Blogs" asp-action="Index" asp-route-NumberPage=0>1</a></li>
			<li><a asp-controller="Blogs" asp-action="Index" asp-route-NumberPage=1>2</a></li>
			<li><a asp-controller="Blogs" asp-action="Index" asp-route-NumberPage=2>3</a></li>
			<li><a href=""><i class="fa fa-angle-double-right"></i></a></li>*@
		</ul>
	</div>
</div>